<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="panel panel-default items">
      <table class="table table-bordered table table-striped">
        <thead>
          <tr>
            <th>Products Count:</th>
            <th>Categories Count:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @products_count %>
            </td>
            <td>
              <%= @categories_count %>
          </tr>
        </tbody>
      </table>
  </div>

  <%= link_to 'See All Products', admin_products_path, class: 'btn btn-info' %>
